.header {
  display: flex;
  position: sticky;

  z-index: 2;
  top: 0;
  height: var(--height-toolbar);

  justify-content: space-between;
  align-items: center;

  background-color: white;
  color: black;

  padding:0 180px;



}

.header__homelink {
  display: inline-block;
  cursor: pointer;
  hegiht:var(--height-toolbar);
}

.header__logo {
  height: 36px;
  margin-bottom: 4px;
}

.header__nav {
  display: flex;
  gap: 30px;
}

.header__nav-item {
  display: inline-block;
  font-size: 16px;
  font-weight:700;
}

.header__nav a {
  text-decoration: none;
  color: black;
}

.header__nav-item:nth-child(3) a {
  color: orange;

}



.mini__icon {
  width : 80px;

}



.big__ficture {
  border-radius: 25px
}



.section {

  padding: 30px 180px;
}