.header {
  display: flex;
  position: sticky;

  z-index: 2;
  top: 0;
  height: var(--height-toolbar);

  justify-content: space-between;
  align-items: center;

  background-color: white;
  color: black;

  padding:0 180px;



}

.header__homelink {
  display: inline-block;
  cursor: pointer;
  height:var(--height-toolbar);
}

.header__logo {
  height: 36px;
  margin-bottom: 4px;
}

.header__nav {
  display: flex;
  gap: 60px;
}

.header__nav-item {
  display: inline-block;
  font-size: 16px;
  font-weight:700;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  opacity: 0.5;

}

.header__nav-item:nth-child(3) a {
  color: orange;

}



.section {
  display: flex;
  flex-direction: column;

  padding: 0 160px;

}

.main_title {
  font-size:54px;
  width: 100%;
  opacity: 0%;
  transform: translateY(30px);
  transition: all 700ms ease-in;
}

.main_title.on {
  opacity:1;
  transform: translateY(0);
}

.total_section {
  display: inline-block;
  height: 320px;

  padding: 80px 0;
  border-top: 1px solid rgb(226, 226, 226);

  width: 100%;
  height: 320px;
  opacity: 0%;
  transform: translateY(30px);
  transition: all 700ms ease-in;

}

.total_section.on {
  opacity:1;
  transform: translateY(0);
}

#first_section {
  border-top: 0px solid white;
}


.section_image {
  display: inline-block;
  height: 320px;
  width: 540px;

  float: right;
}

.section_explanation {
  display: inline-block;
  height: 320px;
  width: calc(100% - 720px);

}

.section_logo {
  height: 140px;
}

.section_title {
  font-size: 24px;

}


.section_sentence {
  font-size: 16px;


}


.section__header {
  padding: 100px 0;

}

.mini__icon {
  width : 80px;

}



.big__ficture {
  display: inline-block;

  border-radius: 25px;
  width: 529.91px;
  height: 320px;
}



.semi_section {
  display: flex;
  justify-content: space-between;
  padding: 0 0 70px 0;

  width: 100%;
  height: 200px;
  opacity: 0%;
  transition: opacity 700ms ease-in;

}

.semi_section.on {
  opacity:1;
}

.semi_explanation {
  display: inline-block;
  width: 328px;

}


.footer_total {
  padding: 0 140px;
  color: gray;

  padding: 80px 160px 0 160px;

}

.footer_document {
  display: flex;
  justify-content: space-between;
  font-size: 13px;  
  width: 521px;

  padding: 0 0 24px 0;
}

.footer_adress {
  display: inline;
  font-size: 14px;
  color: gray;
  line-height: 60%;
}

.footer_symbol {
  font-size: 13px;
}

.footer_total a {
  color:gray;
  text-decoration:underline;
}