.header {
  display: flex;
  position: sticky;

  z-index: 2;
  top: 0;
  height: var(--height-toolbar);

  justify-content: space-between;
  align-items: center;

  background-color: white;
  color: black;

  padding:0 180px;



}

.header__homelink {
  display: inline-block;
  cursor: pointer;
  hegiht:var(--height-toolbar);
}

.header__logo {
  height: 36px;
  margin-bottom: 4px;
}

.header__nav {
  display: flex;
  gap: 30px;
}

.header__nav-item {
  display: inline-block;
  font-size: 16px;
  font-weight:700;
}

.header__nav a {
  text-decoration: none;
  color: black;
}

.header__nav-item:nth-child(3) a {
  color: orange;

}



.section {
  display: flex;
  flex-direction: column;

  padding: 0 140px;

}


.main_title {
  font-size:54px;

}

.total_section {
  display: inline-block;
  height: 320px;

  padding: 48px 0;


}

.section_image {
  display: inline-block;
  height: 320px;
  width: 540px;

  float: right;
}

.section_explanation {
  display: inline-block;
  height: 320px;
  width: calc(100% - 720px);

}

.section_logo {
  height: 140px;
}

.section_words {

}

.section_title {
  font-size: 24px;

}

.section_sentence {
  font-size: 16px;


}


.section__header {
  padding: 100px 0;

}

.mini__icon {
  width : 80px;

}



.big__ficture {
  display: inline-block;

  border-radius: 25px;
  width: 529.91px;
  height: 320px;
}




